// We prefixed all global vars with "ag-" to avoid clashes with other libraries
// Import old-style var names to avoid breaking 3rd party themes that use them

@function ag-theme-base-import-legacy-vars() {

    // _ag-theme-base-vars.scss from v22.1.1
    $ag-foreground-opacity: 1 !default;
    $ag-secondary-foreground-color-opacity: 1 !default;
    $ag-disabled-foreground-color-opacity: 0.5 !default;
    $ag-border-color: transparent !default;
    $ag-background-color: #fff !default;
    $ag-foreground-color: #000 !default;
    $ag-header-background-color: $ag-background-color !default;
    $ag-header-foreground-color: $ag-foreground-color !default;
    $ag-icon-color: lightgray !default;
    $ag-alt-icon-color: $ag-background-color !default;
    $ag-accent-color: transparent !default;
    $ag-primary-color: transparent !default;
    $ag-range-selection-background-color: $ag-icon-color !default;
    $ag-grid-size: 4px !default;
    $ag-icon-size: 12px !default;
    $ag-header-height: $ag-grid-size * 6 + 1 !default;
    $ag-row-height: ($ag-grid-size * 6 + 1) !default;
    $ag-cell-horizontal-padding: $ag-grid-size * 3 !default;
    $ag-virtual-item-height: $ag-grid-size * 5 !default;
    $ag-header-icon-size: 14px !default;
    $ag-font-family: 'Helvetica Neue', sans-serif !default;
    $ag-font-size: 14px !default;
    $ag-font-weight: 400 !default;
    $ag-secondary-font-family: $ag-font-family !default;
    $ag-secondary-font-size: 14px !default;
    $ag-secondary-font-weight: 400 !default;
    $ag-tooltip-background-color: $ag-background-color !default;
    $ag-tooltip-foreground-color: $ag-foreground-color !default;
    $ag-tooltip-border-radius: 2px !default;
    $ag-tooltip-padding: 5px !default;
    $ag-tooltip-border-width: 1px !default;
    $ag-tooltip-border-style: solid !default;
    $ag-tooltip-border-color: #ebebeb !default;
    $ag-card-shadow: none !default;
    $ag-card-radius: 0 !default;
    $ag-row-border-width: 0 !default;
    $ag-transition-speed: 120ms !default;
    $ag-cell-horizontal-border: 1px solid transparent !default;
    $ag-toolpanel-indent-size: $ag-grid-size + $ag-icon-size !default;
    $ag-row-group-indent-size: $ag-grid-size * 3 + $ag-icon-size !default;
    $ag-header-cell-moving-background-color: rgb(190, 190, 190) !default;
    $ag-input-disabled-background-color: #ebebeb !default;
    $ag-input-border-color: #000000 !default;
    $ag-dialog-background-color: $ag-background-color !default;
    $ag-dialog-border-size: 1px !default;
    $ag-dialog-border-style: solid !default;
    $ag-dialog-border-color: $ag-border-color !default;
    $ag-dialog-title-background-color: $ag-header-background-color !default;
    $ag-dialog-title-foreground-color: $ag-header-foreground-color !default;
    $ag-dialog-title-height: $ag-header-height !default;
    $ag-dialog-title-font-family: $ag-secondary-font-family !default;
    $ag-dialog-title-font-size: $ag-secondary-font-size !default;
    $ag-dialog-title-font-weight: $ag-secondary-font-weight !default;
    $ag-dialog-title-padding: 5px 10px !default;
    $ag-dialog-title-icon-size: max(20px, $ag-icon-size) !default;
    $ag-tool-panel-background-color: $ag-background-color !default;
    $ag-group-component-background-color: lighten($ag-tool-panel-background-color, 1%) !default;
    $ag-group-component-border-color: lighten($ag-border-color, 5%) !default;
    $ag-group-component-title-background-color: darken($ag-group-component-background-color, 5%) !default;
    $ag-range-selection-chart-background-color: adjust-hue($ag-range-selection-background-color, 25%) !default;
    $ag-range-selection-chart-category-background-color: adjust-hue($ag-range-selection-background-color, -80%) !default;
    

    @return (
        foreground-color: $ag-foreground-opacity,
        secondary-foreground-color: rgba($ag-foreground-color, $ag-secondary-foreground-color-opacity),
        header-foreground-color: $ag-header-foreground-color,
        disabled-foreground-color: rgba($ag-foreground-color, $ag-disabled-foreground-color-opacity),
        background-color: $ag-background-color,
        header-background-color: $ag-header-background-color,
        
        control-panel-background-color: $ag-tool-panel-background-color,
        selected-row-background-color: ag-derived(background-color, $mix: foreground-color 25%), // TODO
        odd-row-background-color: null, // TODO
        row-hover-color: null, // TODO
        range-selection-border-color: $ag-primary-color,
        range-selection-background-color: $ag-range-selection-background-color,
        range-selection-highlight-color: ag-derived(range-selection-border-color), // TODO
        selected-tab-underline-color: $ag-primary-color, // TODO
        selected-tab-underline-width: 0, // TODO
        selected-tab-underline-transition-speed: null, // TODO
        range-selection-chart-category-background-color: $ag-range-selection-chart-category-background-color,
        range-selection-chart-background-color: $ag-range-selection-chart-background-color,
        header-cell-hover-background-color: null, // TODO
        header-cell-moving-background-color: $ag-header-cell-moving-background-color,
        value-change-value-highlight-background-color: rgba(#16A085, 0.5), // TODO
        value-change-delta-up-color: #43a047, // TODO
        value-change-delta-down-color: #e53935, // TODO
        chip-background-color: null, // TODO
        borders: true, // TODO
        borders-critical: ag-derived(borders), // TODO
        borders-secondary: ag-derived(borders), // TODO
        borders-side-button: ag-derived(borders), // TODO
        border-radius: $ag-card-radius,
        border-color: $ag-border-color,
        secondary-border-color: ag-derived(border-color), // TODO
        row-border-color: if($ag-row-border-width and $ag-row-border-width > 0, $ag-border-color, null),
        cell-horizontal-border: $ag-cell-horizontal-border, // TODO
        header-column-separator: false, // TODO
            header-column-separator-height: 100%, // TODO
            header-column-separator-width: 1px, // TODO
            header-column-separator-color: ag-derived(border-color, $opacity: 0.5), // TODO
        header-column-resize-handle: false, // TODO
            header-column-resize-handle-height: 50%, // TODO
            header-column-resize-handle-width: 1px, // TODO
            header-column-resize-handle-color: ag-derived(border-color, $opacity: 0.5), // TODO
        input-disabled-background-color: $ag-input-disabled-background-color,
        input-border-color: $ag-input-border-color, // TODO
        checkbox-background-color: $ag-alt-icon-color,
        checkbox-border-radius: ag-derived(border-radius), // TODO
        checkbox-checked-color: $ag-accent-color,
        checkbox-unchecked-color: ag-derived(foreground-color), // TODO
        checkbox-indeterminate-color: ag-derived(checkbox-unchecked-color), // TODO
        toggle-button-off-color: ag-derived(checkbox-unchecked-color), // TODO
        toggle-button-switch-color: ag-derived(background-color), // TODO
        toggle-button-switch-border-width: 1px, // TODO
        toggle-button-height: ag-derived(icon-size), // TODO
        toggle-button-width: ag-derived(toggle-button-height, $times: 2), // TODO
        grid-size: $ag-grid-size,
        icon-size: $ag-icon-size,
        widget-container-horizontal-padding: ag-derived(grid-size, $times: 1.5), // TODO
        widget-container-vertical-padding: ag-derived(grid-size, $times: 1.5), // TODO
        widget-horizontal-spacing: ag-derived(grid-size, $times: 1.5), // TODO
        widget-vertical-spacing: ag-derived(grid-size), // TODO
        cell-horizontal-padding: $ag-cell-horizontal-padding,
        cell-widget-spacing: ag-derived(cell-horizontal-padding), // TODO
        row-height: $ag-row-height,
        header-height: $ag-header-height,
        list-item-height: $ag-virtual-item-height,
        column-select-indent-size: $ag-toolpanel-indent-size,
        row-group-indent-size: $ag-row-group-indent-size,
        filter-tool-panel-group-indent: 16px, // TODO
        filter-tool-panel-top-level-row-height: ag-derived(grid-size, $times: 8), // TODO
        filter-tool-panel-sub-level-row-height: ag-derived(grid-size, $times: 6), // TODO
        full-width-tabs: false, // TODO
        font-family: $ag-font-family,
        font-size: $ag-font-size,
        icon-font-family: $ag-theme-base-icon-font-family, // TODO
        icons-data: $ag-theme-base-icons-data, // TODO
        icons-font-codes: $ag-theme-base-icons-font-codes, // TODO
        popup-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3) // TODO
    );

    // TODO emit CSS for these
    // $ag-group-component-*
    // $ag-tooltip-*
    // $ag-dialog-*
    // $ag-font-weight
    // $ag-secondary-font-*

    // TODO warning as removed
    // (ag-)icon-color
    // (ag-)rich-select-item-height
};
